
KenshiHook/x64/Debug/

KenshiHook/x64/Release/

x64/Debug/

x64/Release/

\.vs/KenshiHook/v15/

packages/directxtk_desktop_2015\.2019\.5\.31\.1/

KenshiHook/Release/

KenshiHook/packages.config
KenshiHook/settings.cfg
KenshiHook/kenshi.log
KenshiHook/kenshi_info.log

KenshiHook/Debug/
